// -----------------------------------------------------------------------------
//! Fonts
// -----------------------------------------------------------------------------

$oxygen: 'Oxygen', sans-serif;


// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------

$lightgray: #f4f5f8;
$black: #393a3d;
$teal: #06b6c9;
$darkblue: #2B3C73;

$orange: #cc6418c2;
$green: #1B8381;

// -----------------------------------------------------------------------------
//! Breakpoints & Sizes
// -----------------------------------------------------------------------------

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$page-width: 1200px;
