@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

// -----------------------------------------------------------------------------
//! Fonts
// -----------------------------------------------------------------------------

$oxygen: 'Oxygen', sans-serif;


// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------

$lightgray: #f4f5f8;
$black: #393a3d;
$teal: #06b6c9;
$darkblue: #2B3C73;
$white: #F9F9FA;
$lightblue: #80B5E0;



$orange: #cc6418c2;
$green: #1B8381;
$red: #bf2c2c;
$blue: #46659e;
$purple: #7d237d;

$gray: #e5e4e4;
$color-arb: #136da5;
// $color-rfb: #3e105a;
$color-rfb: #695489;

// $color-fb: #19723a;
$color-fb: #417c57;

// -----------------------------------------------------------------------------
//! Breakpoints & Sizes
// -----------------------------------------------------------------------------

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$page-width: 1200px;
