@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import 'variables';
@import 'helpers';

@import 'base/base';
@import 'base/layout';

@import 'components/form';
@import 'components/buttons';
@import 'components/card';
@import 'components/loading';
@import 'components/parser';
@import 'components/toggle';
