.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    border-radius: 40px;
    border: 0;
    outline: 0;
    font-size: 14px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;

    &[disabled] {
        cursor: not-allowed;
        opacity: .8;
    }
}


.btn-teal {
    background: $teal;
    color: #fff;

    &:hover {
        background: lighten($teal, 3%);
    }

    &[disabled]:hover {
        background: $teal;
    }
}