.card-section {
    padding: 0;
    position: relative;
}

.card {
    background: #fff;
    box-shadow: rgba(0, 0, 0, .16) 0px 2px 8px 0px;
    border-top: 3px solid $gray;
    text-align: center;
    max-width: 400px;
    margin: 0 auto 20px;

    @include min( $md ) {
        flex: 0 0 45%;
        margin: 0 10px 20px;
    }

    @include min( 1060px ) {
        flex: 0 0 31%;
    }

    h2 {
        font-size: 22px;
        padding: 1rem 2rem;
        margin-bottom: 20px;
    }

    small {
        font-size: 13px;
    }

    .card-body {
        padding: 0 2rem 0;
    }

    .card-bottom {
        position: relative;
        background: $lightgray;
        margin: 0 -2rem;
        padding: 1.5rem 2rem;
    }
}

.card-wrap {
    padding: 2rem 1rem;

    @include min( $md ) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2em 0 2em;
    }
}


// -----------------------------------------------------------------------------
//! Elements
// -----------------------------------------------------------------------------

.card {
    position: relative;

    .amount {
        text-align: center;
    }

    .number {
        font-size: 27px;
        font-weight: 600;
        line-height: 1;
        
        &.small {
            font-size: 18px;
            line-height: .8;
            
            + small {
                font-size: 11px;
            }
        }
    }

    small {
        font-family: $oxygen;
    }

    label {
        display: inline-block;
        margin-bottom: 12px;
        font-weight: bold;
        border-radius: 3px;
        font-size: 13px;
        line-height: 1;
        color: #fff;

        background: #637779;
        padding: 4px 7px;
    }

    .or {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.card.risk-free .or {
    top: auto;
}

.no-results {
    text-align: center;
    padding: 3rem 1rem;

    p {
        margin-top: 10px;
    }
}


// -----------------------------------------------------------------------------
//! Transition
// -----------------------------------------------------------------------------

.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(1rem);
}

.fade-leave-active {
    position: absolute;
    width: 100%;
}

.fade-enter-active {
    transition: all .2s;
}

.fade-leave-active {
    transition: opacity .2s;
}

.fade-move {
    transition: all .2s;
}

.fade-leave-from,
.fade-leave-to, {
    transition: 0s;
}

.fade-enter, .fade-leave-to {
      opacity: 0;
  }


// -----------------------------------------------------------------------------
//! alt
// -----------------------------------------------------------------------------

.alt .card .split {
    .amount:first-child {
        text-align: left !important;
    }

    .amount:last-child {
        text-align: right !important;
    }
}

// -----------------------------------------------------------------------------
//! Utility buttons
// -----------------------------------------------------------------------------

.card .util {
    position: absolute;
    top: 5px;
    right: 6px;
    transition: 0;
    opacity: 0;
    
    button {
        background: transparent;    
        border: 0;
        padding: 8px;
        cursor: pointer;
        color: rgba($black, .7);
    }

    svg {
        width: 15px;
        color: inherit;
    }
}

.card:hover .util {
    opacity: 1;
}

.copy-input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.copy-confirmation {
    position: fixed;
    color: #fff;
    right: 1rem;
    bottom: 1rem;
    padding: 10px 15px;
    border-radius: 3px;
    pointer-events: none;
    z-index: 100;
    margin-top: 10px;
    opacity: 0;
    
    &.show {
        transition: .2s;
        margin-top: 0;
        opacity: 1;
    }
}

.arb .copy-confirmation {
    background: rgba($color-arb, .8);
}

.free-bet .copy-confirmation {
    background: rgba($color-fb, .8);
}
.risk-free .copy-confirmation {
    background: rgba($color-rfb, .8);
}


// -----------------------------------------------------------------------------
//! Skins
// -----------------------------------------------------------------------------

.arb .card {
    border-color: $color-arb;
    
    .copy-to-clipboard:hover {
        color: $color-arb;
    }
}

.free-bet .card {
    border-color: $color-fb;
    
    .copy-to-clipboard:hover {
        color: $color-fb;
    }
}

.risk-free .card {
    border-color: $color-rfb;
    
    .copy-to-clipboard:hover {
        color: $color-rfb;
    }
}