
// -----------------------------------------------------------------------------
//! Book
// -----------------------------------------------------------------------------

form {
	background: $lightgray;
	padding: 80px 1rem 3rem;
	flex: 0 0 auto;
	background-image: linear-gradient(to left, #334b70, #3c557b, #445f86, #4d6991, #56739c);
	color: #fff;
	position: relative;

	input[type=text] {
		border: 0;
	}

	@include min( 640px ) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	@include min( $md ) {
		padding-top: 60px;
	}

	label {
		font-family: $oxygen;
		font-weight: 800;
		font-size: 13px;
		text-align: left;
	}
}

.book {
	max-width: 304px;
	flex: 1 1 auto;
	text-align: center;
	margin: 0 auto;

	+ .book {
		margin-top: 2.5rem;
	}

	@include min( 640px ) {
		max-width: 355px;
		margin: 0;
		padding: 0 2rem;

		+ .book {
			margin-top: 0;
		}
	}
}


// -----------------------------------------------------------------------------
//! Label input
// -----------------------------------------------------------------------------

form h2 {
	margin-bottom: 10px;
	padding: 5px 10px;
	height: 43px;
	cursor: text;
	
	&:hover {
		background: rgba(#fff, .1);
	}
}

.label-input {
	display: block;
	height: 43px;
	width: 100%;
	margin: 0 0 10px;
	padding: 5px 10px;
	background: rgba(#fff, .1);
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	border: 0;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	font-weight: 700;

	@include min( 640px ) {
		max-width: none;
	}

	&:focus {
		outline: 0;
		border: 0;
	}
}


// -----------------------------------------------------------------------------
//! Button
// -----------------------------------------------------------------------------

.button-wrap {
	flex: 1 0 100%;
	position: relative;
	margin-top: 3rem;
	
	div {
		display: inline-block;
		position: relative;
	}
}

form .btn {
	background: $teal;
	color: #fff;
	background: rgba(#b9bfcd,.5);

	&:hover {
		background: $teal;
	}

	&:hover {
		opacity: .9;
	}
}


// -----------------------------------------------------------------------------
//! Save play
// -----------------------------------------------------------------------------

.save-play {
	position: absolute;
	left: 100%;
	margin-left: 15px;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: 0;
	cursor: pointer;
	border-radius: 50%;
	
	svg {
		color: rgba(#fff, .3);
		width: 13px;
	}
	
	&:hover svg {
		color: rgba(#fff, .5);
	}
	
	&.viewing-bookmark svg {
		color: $teal;
	}
}


// -----------------------------------------------------------------------------
//! Input
// -----------------------------------------------------------------------------


.field-wrap {
	input[type=text],
	input[type=number] {
		border: 1px solid transparent;
		border-radius: 2px;
		-webkit-appearance: none;
		appearance: none;
		font-size: 16px;
		padding: 5px 16px;
		width: 80px;
		height: 35px;
		text-align: center;
		font-family: Avenir, Helvetica, Arial, sans-serif;


		&:focus {
			outline: 0;
			border-color: $teal;
		}
	}
}

.field {
	label {
		display: block;
		margin-bottom: 4px;
	}

	+ .field {
		margin-left: 30px;
	}
}


// -----------------------------------------------------------------------------
//! Bookmarks
// -----------------------------------------------------------------------------

.bookmarks {
	position: fixed;
	top: 0;
	right: 0;
	box-shadow: rgba(0, 0, 0, .16) 0px 2px 8px 0px;
	z-index: 5;
	
	@include max($md) {
		top: 40px;
	}
}

.bookmark {
	position: relative;
	background: #fff;
	cursor: pointer;
	font-size: 14px;
	border-top: 1px solid rgba($darkblue, .3);

	&:hover:before {
		content: "";
		pointer-events: none;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: rgba($teal, .1);
	}

	.games {
		background: $lightgray;
		padding: 10px;
		text-align: right;
		flex: 1 1 auto;
		font-size: 12px;

		strong {
			margin-left: 4px;
		}
	}

	.ev {
		padding: 10px;
		font-weight: 600;
		color: $green;
	}
	
	&.conversion .games {
		color: $purple;
		font-weight: bold;
	}
}


// -----------------------------------------------------------------------------
//! Toggle mode
// -----------------------------------------------------------------------------

.toggle.toggle-mode {
	position: absolute;
	left: 40px;
	bottom: 10px;
}

