input[type=text] {
	border: 1px solid #bec2c5;
	-webkit-appearance: none;
	font-size: 16px;
	padding: 5px 16px;
	width: 80px;
	height: 35px;
	text-align: center;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	outline: 0;
	
	&:focus {
		outline: 0;
	}
}