.modal-backdrop {
    background: rgba(#000, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        max-width: 1200px;
        width: 90vw;
    }
}

.parser {
    background: #fff;
    padding: 5rem 2rem 0;
    position: relative;

    .col {
        flex: 0 0 50%;
        padding: 0 16px;
    }

    textarea {
        width: 100%;
        height: 500px;
    }

    .btn {
        margin-left: 16px;
    }

    .cancel {
        text-decoration: underline;
    }

    h4 {
        margin-bottom: 10px;
        font-size: 20px;
    }

    textarea {
        border-radius: 2px;
        border-color: $black;
        resize: none;
        padding: 16px;
        background: #fafbfb;
        font-size: 12px;
        font-family: monospace;

        &:focus {
            border-color: $teal;
            outline: 0;
        }
    }

    select {
        height: 35px;
        padding: 0 16px;

        &:focus {
            outline: 0;
            border-color: $teal;
        }
    }

    .close-parser {
        position: absolute;
        top: 8px;
        right: 15px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: $darkblue;
            width: 20px;
        }

        &:hover svg {
            opacity: .8;
        }
    }
}

// -----------------------------------------------------------------------------
//! Footer
// -----------------------------------------------------------------------------

.parser-footer {
    margin-top: 2rem;
    background: $lightgray;
    margin: 2rem -2rem 0;
    padding: 1.5rem 2rem;

    input[type=text] {
        border-color: $black;
    }


    label {
        font-family: $oxygen;
        font-weight: 800;
        font-size: 13px;
        text-align: left;
    }
}